*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgba(0,0,0,0.6) url('images/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;

}
.navbar{
    display: flex;
    top:0;

}
.logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 50%;
    border: 3px solid black;
    border-radius: 50px;
}
.nav-list{
    display: flex;
    width: 75%;
    background-color:rgba(0,0,0,0.5);
    align-items: center;
}
.nav-list li{
    list-style-type: none;
    padding: 26px 30px;
}
.nav-list li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;

}
.rightnav{
    background-color: rgba(0,0,0,0.5);
    width: 25%;
    padding-top: 16px;
}
#search{
    padding:5px;
    font-size: 16px;
    border:2px solid grey;
    border-radius:9px;
    align-items: center;
}
.btn{
    border: 1px solid grey;
    padding:5px;
    font-size: 16px;
    background-color:red;
    border-radius: 6px;
    color: white;
}
input:focus{
    border: none;
    outline: none;
}
#aboutactive{
    color: red;
}
ul li a:hover{
    color:red;
}
h2{
    color: white;
    width: 100%;
    text-transform: uppercase;
    font-size: 55px;
    text-align: center;
    margin-top: 30px;
}
p{
    max-width: 30%;
    height: 50%;
    background-color: whitesmoke;
    opacity: 0.8;
}